div {
    width : 100px;
    padding: 5px;
    border: solid 1px red;
    margin: 10px;
    box-sizing: border-box ;
  
  }

  header {
    background-color: lightseagreen;
    color: white; 
    font-size: 28px;
    border-bottom: solid 3px indigo;
    padding: 22px;
    margin-bottom: 15px ;
    text-align: center;
    box-sizing: border-box;
}

section {
    width: 50%;
    margin-bottom: 15px;
    margin-left: 25%;
    background-color: gainsboro; 
    padding-left: 12px;
    padding-top: 30px;
    padding-bottom: 30px; 
    border: dashed 1px black;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

footer {
    background-color: rebeccapurple;
    color: white; 
    border-top: solid 1px lightseagreen;
    padding: 12px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    
}